.dot-irecommendthis {
    background: url(../images/default.png) no-repeat 0 0;
    padding: 0 0 0 20px;
    border: 0;
    margin-bottom: 10px;
    display: inline-block;
    text-decoration: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.dot-irecommendthis:hover,
.dot-irecommendthis.active {
    background-position: 0 -24px;
    color: #F56559;
}