
.dot-irecommendthis { 
	background:url(../images/heart.png) 0 6px no-repeat; 
	padding:0 0 0 20px;
	border: 0 !important;
	margin-bottom: 10px;
	display: inline-block;
	text-decoration: none;
	}
.dot-irecommendthis:hover, .dot-irecommendthis.active { background-position:0 -20px; color: #F56559 !important; }