.irecommendthis {
	padding-left: 2em; /* Decrease padding to accommodate the smaller icon */
	border: 0;
	margin-bottom: 0.625em;
	display: inline-block;
	text-decoration: underline; /* Add underline */
	text-underline-offset: 0.2em; /* Space between text and underline */
	min-height: 1.5em;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: initial;
	position: relative;
	line-height: 1.5;
	height: 1.5em; /* Fixed height to avoid content shift and match icon size */
	font-weight: bold;
}

.irecommendthis::before {
	content: '';
	display: inline-block;
	width: 1.75em; /* Adjust width for icon size */
	height: 1.75em; /* Adjust height for icon size */
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%); /* Center the icon vertically */
	background-image: url('data:image/svg+xml;utf8,<svg width="24px" height="24px" viewBox="-2 -4 24 24" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMinYMin" class="jam jam-heart"><path d="M3.636 7.208 10 13.572l6.364-6.364a3 3 0 1 0-4.243-4.243L10 5.086l-2.121-2.12a3 3 0 0 0-4.243 4.242M9.293 1.55l.707.707.707-.707a5 5 0 1 1 7.071 7.071l-7.07 7.071a1 1 0 0 1-1.415 0l-7.071-7.07a5 5 0 1 1 7.07-7.071z"/></svg>');
	background-size: contain;
	background-repeat: no-repeat;
	transition: transform 0.3s ease, filter 0.3s ease;
}

.irecommendthis:hover::before {
	transform: scale(1.2) translateY(-50%);
	filter: brightness(0) saturate(100%) invert(40%) sepia(61%) saturate(592%) hue-rotate(319deg) brightness(98%) contrast(100%); /* Change color */
}

.irecommendthis.active::before {
	transform: scale(1) translateY(-50%);
	filter: brightness(0) saturate(100%) invert(40%) sepia(61%) saturate(592%) hue-rotate(319deg) brightness(98%) contrast(100%); /* Change color */
}

.irecommendthis:hover,
.irecommendthis.active {
	color: #F56559 !important;
	border: 0;
	padding-left: 2em;
	text-decoration: underline;
	text-underline-offset: 0.2em;
	font-weight: bold;
}
